{% extends 'extend.html' %}
{% load common_tag %}
{% load compress %}
{% block head %}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags }}{{ article.title }}">
    {% else %}
        <meta name="keywords" content="{{ article.title }}">
    {% endif %}
    <meta name="description" content="{{ article.subject|clear }}">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ article.image|url }}">
    <meta property="og:release_date" content="{{ article.createDate|date:'Y-m-d H:i:s' }}">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.subject|clear }}">
    <meta property="og:author" content="{{ article.user }}">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="/static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/markdown.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/code.css"/>
    {% endcompress %}
{% endblock %}

{% block title %}{{ article.title }}-{{ commonData.configs.name }} {% endblock %}
{% block banner %}
{% endblock %}
{% block body %}

    <div class="block">
        <div class="block-main">
            <div>
                <h1 class="article-title">{{ article.title }}</h1>
            </div>

            <div class="article">
                <div class="info">
                <span class="date"><span
                        class="glyphicon glyphicon-calendar"></span>{{ article.createDate|date:"Y-m-d" }}</span>
                <span>
                    <span class="glyphicon glyphicon-pencil"></span>
                    {{ article.category.alias }}
                    <span>发表在 <a
                            href="{% url 'category_alias' article.category.alias %}">{{ article.category.name }}</a> </span>
                </span>
                <span class="hits">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span>{{ article.hits }}</span>
                </span>
            </div>

                {{ article.content|safe }}
            </div>
            <div class="alert alert-success" role="alert">
                <div>
                    感谢您的阅读，本文由 {{ commonData.configs.name }} 版权所有。如若转载，请注明出处：{{ commonData.configs.name }}（<a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'article' article.sid %}"
                             target="_blank">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/article/{{ article.sid }}</a>）
                </div>
            </div>
            <div>
                <h4>相关文章</h4>
                {% for item in recommends %}
                    <div><a href="{% url 'article' item.sid %}" title="{{ item.title }}">{{ item.title }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window._PAGE_CONFIG = {
            SID: '{{ sid }}',
            TARGET_ID: '{{ article.id }}',
            TYPE: 0
        }
    </script>
    {% include 'comment.html' %}
    {% compress js %}
    <script src="/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
    {% endcompress %}
{% endblock %}