{% load common_tag %}
{% loadData as commonData %}
{% get_now as time %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ commonData.configs.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}
        <meta name="keywords" content="{{ commonData.configs.keywords }}">
        <meta name="description" content="{{ commonData.configs.description }}">
    {% endblock %}
</head>
<body>
<header>
    <div class="top">
        <div class="container">
            <ul class="nav navbar-nav">
                {% for menu in commonData.menus %}
                    <li><a href="{{ menu.href }}">
                        <span class="{{ menu.icon }}"></span>
                        <span>{{ menu.name }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% block navbar %}
        <div class="navbar-block categorys">
            <div class="container">
                <ul class="nav navbar-nav">
                        {% if request.path == '/category' %}
                            <li class="active"><a href="/category">所有分类</a></li>
                        {% else %}
                            <li><a href="/category">所有分类</a></li>
                        {% endif %}
                    {% for c in commonData.categorys %}
                        {% if c.name == cdata.name %}
                            <li  class="active"><a href="/category/{{ c.alias }}">{{ c.name }}</a></li>
                        {% else %}
                            <li><a href="/category/{{ c.alias }}">{{ c.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock %}
</header>

<div class="container content-wrap">
    <div class="row">
        <div class="col-md-8">
            {% block body %}{% endblock %}
        </div>
        <div class="col-md-4">

            <div class="block">
                <div class="block-title">
                    <span><i class="glyphicon glyphicon-bullhorn"></i>公告</span>
                    <span style="margin-right: 10px"
                          class="navbar-right"><i
                            class="glyphicon glyphicon-time"></i>{{ commonData.notice.createDate|date:'m月d日 H:i' }}</span>
                </div>
                <div class="block-main">
                    {{ commonData.notice.content|converToHtml|safe }}
                </div>
            </div>

            <div class="block">
                <div class="block-title">推荐</div>
                <div class="block-main recommeneds">
                    <dl>
                        {% for r in commonData.recommeneds %}
                            <dd>
                                <a href="/detail/{{ r.id }}">{{ r.title }}</a>
                                <span><i class="glyphicon glyphicon-envelope"></i><span>{{ r.hits }}</span></span>
                            </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>

            <div class="block">
                <div class="block-title">友情链接</div>
                <div class="block-main">
                    <ul>
                    {% for item in commonData.sites %}
                        <li><a href="{{ item.site }}" target="_blank">{{ item.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="footer">
    {% block footer %}
        <div>{{ commonData.configs.name }} {{ time.year }} © {{ commonData.configs.domain }}</div>
        <div>工信部备案号：{{ commonData.configs.icp }}</div>
    {% endblock %}
<style type="text/css">
    #cnzz_stat_icon_1261750977{
        display: none;
    }
</style>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261750977'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261750977%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

</body>
</html>