{% extends 'extend.html' %}
{% block title %}项目列表-{{ commonData.configs.name }}{% endblock %}
{% block banner %}{% endblock %}
{% block category %}{% endblock %}
{% block body %}
    <div class="block">
        <div class="block-title">项目列表</div>
        <div class="block-main">
            {% if rs %}
                {% for item in rs %}
                    {% if not item.fork %}
                        <div class="project-item">
                            <div><a href="{% url 'project_detail' item.name %}" target="_blank"><h3>{{ item.name }}</h3></a></div>
                            <div>
                                <span class="tag-box">{{ item.language }}</span>
                                更新时间:{{ item.updated_at }}

                            </div>
                            <div>{% if item.description %}
                                    <span>{{ item.description }}</span>
                                {% endif %}</div>
                            <div>git地址：<a href="{{ item.html_url }}" target="_blank">{{ item.html_url }}</a></div>
                            <div>svn地址：<a href="{{ item.svn_url }}" target="_blank">{{ item.svn_url }}</a></div>
                            <hr/>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}