body, html {
    margin: 0;
    padding: 0;
    background: #eaeaea;
}

.col-left {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
}

.col-right {
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}
.col-right .banner{
    height: 300px;
    background-size: cover;
}
.col-right .main-box{
    padding:0px 100px;
    margin-top: -100px;
}
.col-right .main-box .box{
    background-color: white;
    min-height: 500px;
    box-shadow: 0 0 30px rgba(200, 200, 200, 0.25);
    border-radius: 10px;
}